@{
    ViewData["Title"] = "Домашняя";
}

<div class="container">
    <div class="align-middle">
        <form>
            <button class="btn btn-danger" asp-controller= "TravelPackage" asp-action="Create">
                Заказать путёвку
            </button>
            <button class="btn btn-dark m-3" asp-action="Payment">
                Лучшие путёвки агенства
            </button>
        </form>
    </div>
</div>