@model GodelTourAgensy.Models.Account.LoginViewModel

<div class="col-sm-2">
    <h2>Вход в приложение</h2>
    <form class="form-group" method="post" asp-controller="Account" asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RememberMe"></label><br />
            <input class="form-control" asp-for="RememberMe" />
        </div>
        <div>
            <input type="submit" value="Войти" />
        </div>
    </form>
</div>