@{
    ViewData["Title"] = "Поиск";
}

<div class="container">
    <div class="align-middle">
        <form>
            <button class="btn btn-dark m-2" asp-action="MostPopular">
                Сортировка по частоте заказа
            </button>
        </form>
    </div>
</div>